@media screen and (max-width:890px){
    
    header{
        height: 18vh;
    }

    nav{
        /* width: 100%; */
        overflow: hidden;
        flex-direction: column;
    }
    .btn{
        /* width: 5vw; */
        padding: 0 5px;
    }
    .logo{
        justify-content: center;
        margin: 1vw;
    }
    .logo img{
        /* width: 5rem; */
        padding: 0 3vw;
    }
    nav ul{
        justify-content: center;
        /* height: 10vh; */
    }
    .search{
        justify-content: center;
    }
    .search input{
        width: 121px;
        margin: 0 7px;
    }
    .slider img{
        height: 20vh;
    }
    .card{
        height: 19rem;
    }
    .card-items{
        margin: 1vw 11vw 1vw 1vw;
    }
    .card-items img{
        width: 25vw;
        height: 20vh;
    }
    .lines{
        margin: 4vw;
    }
}